<% if user_signed_in? %>
  <% if current_user.id == @user.id %>

    <%= render 'crumbs' %>
    
    <h2><%= @user.name %></h2>
    <br><%= @user.birthdate %>
    <br><%= @user.phone %>

  <% else %>
    You are not this user.
  <% end %>
<% else %>
  You are not logged in.
<%end %>
